
<div class="anchor" #anchor></div>


<ai-chat-chat-input-bubble
class="bottom-0 sticky bubble w-full"
></ai-chat-chat-input-bubble>


  <p-skeleton
    *ngIf="isWaiting$ | async"
    styleClass="w-full h-10rem "
  ></p-skeleton>
  <ng-container *ngIf="messageGroups$ | async as messageGroups">
    <ng-container *ngFor="let group of messageGroups; let i = index">
      <ng-container *ngIf="group.messages.length > 0">
        @if(group.sourceType === 'user'){
        <ai-chat-chat-input
          [message]="group.messages[0].text"
          [disabled]="true"
        ></ai-chat-chat-input>
        } @else {
        <ai-chat-chat-output-group
          [isLast]="i === 0"
          [messageGroup]="group"
        ></ai-chat-chat-output-group>
        }
      </ng-container>
    </ng-container>
  </ng-container>
