@import "primeflex/primeflex.scss";

.outer-container {
  height: calc(100vh - 64px);
  max-height: calc(100vh - 64px);
  position: relative;
}

.main-container {
  min-height: calc(100vh - 64px);
  max-width: 100vw;
  overflow-y: auto;
}

.anchor {
  width: 1px;
  height: 1px;
}

.sticky-bottom {
  position: fixed;
  bottom: 0;
  z-index: 100;
  width: 100%;
}

