@import "primeflex/primeflex.scss";

:host {
  @include styleclass('flex flex-column-reverse w-full p-4 gap-4 pb-3');
  min-height: calc(100vh - 64px);
  max-width: 100vw;

  overflow: auto !important;

  * {
    overflow-anchor: none;
  }
  .anchor {
    overflow-anchor: auto;
    height: 1px;
  }
}

