:host {
  display: block;
}


:host ::ng-deep .katex-display {
  display: inline;
}

:host ::ng-deep .katex-display {
  display: inline !important;
  .katex, .katex-display, .katex-html  {
    display: inline !important;
  }
}

.overlay-max {
  --safe-width: calc(100vw - 3rem);
  max-width: min(var(--safe-width), 30rem);
  max-height: min(40vh, 16rem);
}
