<div class="column w-full" [class.bg-teal-50]="message.isPrimary">
  <div class="relative w-full">
    <div class="px-3">
      <markdown
        markdown
        clipboard
        lineNumbers
        [disableSanitizer]="true"
        class="w-full border-transparent shadow-none text-400 max-w-full"
        ngPreserveWhitespaces
        [clipboardButtonComponent]="ButtonComponent"
        [data]="message.text"
      >
    </markdown>
    </div>
    <div class="pt-2 pb-4 w-full">
      <div *ngIf="message.error" class="px-4 py-1">
        <span class="text-red-500 text-300 text-sm">{{ message.error }}</span>
      </div>
      <div *ngIf="message.warnings" class="px-4 py-1">
        <span class="text-orange-700 text-300 text-xs">{{ message.warnings }}</span>
      </div>
    </div>
    <div class="row w-full absolute bottom-0 justify-content-end pointer-events-none pt-2">
      <p-button
        pRipple
        class="p-button-rounded p-button-text pointer-events-auto"
        [text]="true"
        (click)="onBranchClick()"
        styleClass="shadow-none column center px-0 w-3rem"
        pTooltip="Branch out from this message"
        tooltipPosition="left"
        *ngIf="isLast ? (hasPrimary$ | async) && !message.isPrimary : !message.isPrimary"
      >
      <span
        class="material-symbols-outlined text-base"
      >
        alt_route
      </span>
    </p-button>
      <p-button
        class="p-button-rounded p-button-text pointer-events-auto"
        styleClass="shadow-none"
        severity="success"
        icon="pi pi-check"
        [text]="true"
        [disabled]="message.isPrimary"
        *ngIf="(isLast && (hasPrimary$ | async) === false) || message.isPrimary"
        (click)="setAsPrimary()"
        tooltipPosition="left"
        [pTooltip]="message.isPrimary ? 'Primary message' : 'Set as Primary'"
      ></p-button>
      <p-button
        pRipple
        class="p-button-rounded p-button-text pointer-events-auto"
        icon="pi pi-copy"
        [text]="true"
        pTooltip="Copy to Clipboard"
        (click)="copyToClipboard()"
        styleClass="shadow-none"
      ></p-button>
    </div>
  </div>
</div>
