<div class="column w-full surface-ground text-color">
  <ai-chat-top-bar class="flex-shrink-1"></ai-chat-top-bar>
  <div class="row flex-grow-1 h-full min-w-full">
    <div class="hidden sm:block w-20rem h-full sticky-top sticky top-0" *ngIf="showSidebar" style="padding-top: 63px">
      <ng-container *ngTemplateOutlet="sideBar"></ng-container>
    </div>
    <p-sidebar
      class="visible sm:hidden"
      [modal]="false"
      [fullScreen]="true"
      [(visible)]="showSidebar"
      (onHide)="showSidebar = false"
    >
    <ng-container *ngTemplateOutlet="sideBar"></ng-container>
    </p-sidebar>
    <div class="w-auto flex-grow-1 overflow-y-auto relative" style="padding-top: 63px">
      <ng-content></ng-content>
    </div>
  </div>
</div>

<ng-template #sideBar>
  <ai-chat-side-bar></ai-chat-side-bar>
</ng-template>
