<div class="column w-full">
  <div class="relative w-full">
    <div class="px-3 pt-2 text-primary font-bold">
      <span class="pi pi-user"></span>
    </div>
    <div class="h-full py-1">
      <textarea
        [(ngModel)]="message"
        [disabled]="true"
        class="w-full border-transparent shadow-none overflow-y-auto text-color hide-scrollbar"
        pInputTextarea
        [autoResize]="true"
      ></textarea>
    </div>
    <div
      class="row w-full bottom-0 justify-content-end absolute pointer-events-none"
    >
      <p-button
        pRipple
        [disabled]="false"
        class="p-button-rounded p-button-text pointer-events-auto"
        icon="pi pi-copy"
        [text]="true"
        pTooltip="Copy to Clipboard"
        (click)="copyToClipboard()"
        styleClass="shadow-none"
      ></p-button>
    </div>
  </div>
</div>
