:host {
  display: block;
}


.bubble {
  border-color: rgba(0,0,0,.1);
  border-style: solid;
  border-width: 1px;
  border-radius: 1rem;
}

.textarea {
  // background-color: rgba(255,255,255,.9);
  // backdrop-filter: blur(1px);
}
