<div
  class="column gap-4 p-2 justify-content-between text-color-secondary h-full"
>
  <div class="column gap-1">
    <ai-chat-collapsable [isInitiallyOpen]="true" title="Chats" containerClass="sidebar-chats py-2">
        <i
          header
          pRipple
          [class.text-300]="(canCreateChat$ | async) === false"
          [class.text-600]="(canCreateChat$ | async) === true"
          [class.hover:text-primary-500]="(canCreateChat$ | async) === true"
          class="pi pi-plus z-5"
          (click)="
            $event.preventDefault();
            $event.stopPropagation();
            createChat()"
        ></i>

      <li class="pb-1" *ngFor="let item of allChats$ | async">
        <div
          class="flex gap-2 align-items-center justify-content-between cursor-pointer p-2 border-round text-700 hover:surface-200 transition-duration-150 transition-colors p-ripple"
          [class.surface-200]="(activeChatId$ | async) === item.id"
        >
          <div
            class="column justify-content-center flex-grow-1 p-2"
            pRipple
            (click)="selectChat(item.id)"
            [pTooltip]="item.value"
          >
            <span class="font-bold text-color text-overflow-ellipsis white-space-nowrap overflow-hidden">{{ item.label }}</span>
          </div>
          <div class="flex align-items-center justify-content-end">
            <i
              pRipple
              class="p-button-rounded w-2rem p-1 p-button-text pi pi-replay text-300 hover:text-700"
              pTooltip="Regenerate chat title"
              (click)="
                $event.preventDefault();
                $event.stopPropagation();
                regenerateChatTitle(item.id)
                "
            ></i>
            <i
              pRipple
              class="p-button-rounded w-2rem p-1 p-button-text pi pi-times text-300 hover:text-red-700"
              (click)="
                $event.preventDefault();
                $event.stopPropagation();
                deleteChat(item.id)
              "
            ></i>
          </div>
        </div>
      </li>
    </ai-chat-collapsable>

    <ai-chat-collapsable title="Chat Settings" containerClass="py-2 pr-3">
      <li>
        <div
          class="flex gap-2 align-items-center justify-content-between cursor-pointer p-2 border-round text-700"
        >
          <span class="font-bold text-color">Temp</span>
          <p-slider
            class="w-6"
            [min]="0.1"
            [max]="1"
            [step]="0.01"
            [(ngModel)]="paramService.temperature"
          ></p-slider>
          <span class="font-bold text-color">{{ paramService.temperature }}</span>
        </div>
      </li>
    </ai-chat-collapsable>

    <ai-chat-collapsable
      containerClass="py-2 pr-3"
      title="API Keys"
      pTooltip="Secrets will be stored on you device (localStorage), and will not be shared with anyone"
    >
      <li class="pb-2 pl-2" *ngFor="let secretConfig of secretConfigs">
        <ng-container
          [ngTemplateOutlet]="secretItem"
          [ngTemplateOutletContext]="{ secretConfig }"
        >
        </ng-container>
      </li>
    </ai-chat-collapsable>
  </div>
  <ai-chat-share-btns></ai-chat-share-btns>
</div>

<ng-template #secretItem let-secretConfig="secretConfig">
  <div class="row justify-content-between align-items-center">
    <span
      class="p-float-label w-8"
      *ngIf="!hesSecret(secretConfig); else title"
    >
      <input
        pInputText
        type="password"
        [id]="secretConfig.label"
        class="w-full"
        [formControl]="secretConfig.formControl"
      />
      <label [for]="secretConfig" class="font-bold">{{
        secretConfig.label
      }}</label>
    </span>
    <ng-template #title>
      <div class="flex align-items-center gap-2">
        <span class="font-bold">{{ secretConfig.label }}</span>
      </div>
    </ng-template>
    <div class="flex justify-content-end">
      <p-button
          pRipple
          class="p-button-rounded p-button-text"
          icon="pi pi-times"
          severity="danger"
          [text]="true"
          (click)="onSecretRemove(secretConfig)"
        ></p-button>
      <p-button
        [disabled]="secretConfig.formControl.pristine || secretConfig.formControl.invalid"
        *ngIf="!hesSecret(secretConfig)"
        pRipple
        class="p-button-rounded p-button-text"
        icon="pi pi-save"
        severity="primary"
        [text]="true"
        (click)="onSecretSubmit(secretConfig)"
      ></p-button>
      <p-button
        pRipple
        icon="pi pi-external-link"
        [text]="true"
        (click)="onSecretHelp(secretConfig)"
      ></p-button>
    </div>
  </div>
</ng-template>
