<div class="row justify-content-between p-2 px-3">
  <div class="row center gap-4">
    <p-button
      class="p-button-rounded p-button-text w-3rem h-3rem p-0"
      styleClass="shadow-none w-3rem h-3rem p-0 row center"
      size="large"
      [rounded]="true"
      [outlined]="true"
      (onClick)="showSidebar = !showSidebar"
    >
      <span
        class="material-symbols-outlined transition-all transition-duration-400"
        [class.rotate-90]="showSidebar"
      >
        compare_arrows
      </span>
    </p-button>
  </div>
  <div class="row center gap-2">
    <ng-container *ngIf="chatServices$ | async as chatServices">
      <chat-dropdown-select
      [items]="chatServices"
      labelName="modelName"
      selectionName="enabled"
      disabledName="isAvailable"
      filterPlaceHolder="Search Hugging Face Models"
      class="pr-1"
      (onFilter)="onChatServiceFilter($event)"
      (selectedChanges)="onChatServiceChange($event)"
      ></chat-dropdown-select>
    </ng-container>
    <!-- <p-button
      class="p-button-rounded p-button-text"
      icon="pi pi-info-circle"
      [text]="true"
      styleClass="shadow-none"
      (click)="op.toggle($event)"
    ></p-button> -->
    <p-button
      class="p-button-rounded p-button-text"
      icon="pi pi-plus"
      [text]="true"
      (click)="createNewChat()"
      pTooltip="Create New Chat"
      styleClass="shadow-none"
    ></p-button>
  </div>
</div>

<p-overlayPanel #op>
  <ai-chat-app-info></ai-chat-app-info>
</p-overlayPanel>
