<div class="row center gap-1">
    <p-button
      pRipple
      class="p-button-rounded p-button-text"
      icon="pi pi-link"
      [text]="true"
      (click)="copyLink()"
    ></p-button>
    <p-button
      pRipple
      class="p-button-rounded p-button-text"
      icon="pi pi-github"
      [text]="true"
      (click)="goToGithub()"
    ></p-button>
    <p-button
      pRipple
      class="p-button-rounded p-button-text"
      icon="pi pi-linkedin"
      [text]="true"
      (click)="shareOnLinkedin()"
    ></p-button>
    <p-button
      pRipple
      class="p-button-rounded p-button-text"
      icon="pi pi-twitter"
      [text]="true"
      (click)="shareOnTwitter()"
    ></p-button>
    <p-button
      pRipple
      class="p-button-rounded p-button-text"
      icon="pi pi-reddit"
      [text]="true"
      (click)="shareOnReddit()"
    ></p-button>
    <p-button
      pRipple
      class="p-button-rounded p-button-text"
      icon="pi pi-telegram"
      [text]="true"
      (click)="shareOnTelegram()"
    ></p-button>
  </div>
