<div
  class="column gap-4 p-4 justify-content-between text-color-secondary h-full"
>
  <p-accordion [multiple]="true" [activeIndex]="[0]">
    <p-accordionTab header="Chats" class="no-padding" styleClass="p-0">
      <p-menu
        [model]="(allChats$ | async) ?? []"
        class="w-full h-full"
        styleClass="border-none w-full h-full"
      >
        <ng-template pTemplate="item" let-item>
          <div class="row justify-content-between align-items-center w-full">
            <div
              class="column justify-content-center flex-grow-1 p-4"
              pRipple
              (click)="selectChat(item.id)"
            >
              <span class="font-bold">{{ item.label }}</span>
            </div>
            <p-button
              pRipple
              class="p-button-rounded p-button-text"
              icon="pi pi-times"
              [text]="true"
              (click)="
                $event.preventDefault();
                $event.stopPropagation();
                deleteChat(item.id)
              "
            ></p-button>
          </div>
        </ng-template>
      </p-menu>
    </p-accordionTab>

    <p-accordionTab header="Chat Settings">
      <div class="column gap-4 pl-3">
        <div
          *ngFor="let apiService of allChatApis"
          class="row justify-content-between align-items-center"
        >
          <span class="font-bold">{{ apiService.modelName }}</span>
          <p-inputSwitch
            [disabled]="apiService.isAvailable() !== true"
            [(ngModel)]="apiService.enabled"
            pTooltip="Enable/Disable this API, Important: make sure not to share private data. for more details visit openAi/google"
          ></p-inputSwitch>
        </div>
        <div class="row justify-content-between align-items-center">
          <span class="font-bold">Temp</span>
          <p-slider
            class="w-6"
            [min]="0.1"
            [max]="1"
            [step]="0.01"
            [(ngModel)]="paramService.temperature"
          ></p-slider>
          <span class="font-bold">{{ paramService.temperature }}</span>
        </div>
      </div>
    </p-accordionTab>

    <p-accordionTab header="Secrets" pTooltip="Secrets will be stored on you device (localStorage), and will not be shared with any one">
      <div class="column gap-4 pl-3">
        <div class="row justify-content-between align-items-center gap-4">
          <span class="p-float-label">
            <input
              pInputText
              type="password"
              id="openAiKey"
              [formControl]="openAiApiForm"
            />
            <label for="openAiKey" class="font-bold">OpenAI Key</label>
          </span>
          <p-button
            [disabled]="openAiApiForm.pristine || openAiApiForm.invalid"
            pRipple
            class="p-button-rounded p-button-text"
            icon="pi pi-save"
            [outlined]="true"
            (click)="onOpenAiApiFormSubmit()"
          ></p-button>
        </div>
        <div class="row justify-content-between align-items-center">
          <span class="p-float-label">
            <input
              pInputText
              type="password"
              id="googleAiKey"
              [formControl]="googleApiForm"
            />
            <label for="googleAiKey" class="font-bold">Google API Key</label>
          </span>
          <p-button
            [disabled]="googleApiForm.pristine || googleApiForm.invalid"
            pRipple
            class="p-button-rounded p-button-text"
            icon="pi pi-save"
            [outlined]="true"
            (click)="onGoogleApiFormSubmit()"
          ></p-button>
        </div>
      </div>
    </p-accordionTab>
  </p-accordion>
  <div class="row center gap-1">
    <p-button
      pRipple
      class="p-button-rounded p-button-text"
      icon="pi pi-globe"
      [text]="true"
      (click)="goToWebsite()"
    ></p-button>
    <p-button
      pRipple
      class="p-button-rounded p-button-text"
      icon="pi pi-github"
      [text]="true"
      (click)="goToGithub()"
    ></p-button>
    <p-button
      pRipple
      class="p-button-rounded p-button-text"
      icon="pi pi-linkedin"
      [text]="true"
      (click)="goToLinkedin()"
    ></p-button>
    <p-button
      pRipple
      class="p-button-rounded p-button-text"
      icon="pi pi-twitter"
      [text]="true"
      (click)="goToTwitter()"
    ></p-button>
  </div>
</div>
