<div class="w-full column center gap-4">
  <div
    class="w-8rem h-8rem border-circle border-1 column center border-black-alpha-20"
  >
    <span class="material-symbols-outlined text-8xl text-primary">
      compare_arrows
    </span>
  </div>
  <div class="text-xl font-semibold line-height-2 text-center text-primary">
    Explore Generative AI with AI Chat Compare!
  </div>
  <div class="text-lg font-light line-height-3 text-center">
    Discover and assess the performance of various Generative AI APIs here.
  </div>
  <div class="text-lg font-light line-height-3 text-center">
    Integrated with <span class="font-medium">Hugging Face</span>(Via Search), <span
      class="font-medium"
      >OpenAI</span
    > (GPT 3.5/4), and <span class="font-medium">Google</span> (Gemini Pro).
  </div>
  <div class="text-sm font-light line-height-3 text-center">
    Begin by entering your <span class="font-medium">API Keys</span> in the
    settings area (sidebar labeled "API Keys"), then activate the desired APIs
    (via the dropdown in the toolbar).
  </div>
  <div class="text-sm font-light line-height-3 text-center">
    While all information is kept locally in your browser (localStorage), note
    that enabling APIs will transmit data to them, and their privacy policies
    will apply.
    <span class="font-medium"
      >Ensure you do not disclose any confidential information.</span
    >
  </div>

  <ai-chat-share-btns></ai-chat-share-btns>
</div>
